# =========================
# GENERAL
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.log
.env
.env.local
.env.*.backup
*.sqlite3
*.db

# Secret keys & local config
backend/.env
backend/.env.local

# =========================
# PYTHON / DJANGO
# =========================
*.egg-info/
*.egg
dist/
build/
pip-wheel-metadata/
.python-version
.coverage
coverage/
htmlcov/
venv/
ENV/
env/
.venv/
backend/.venv/
backend/venv/
backend/env/
backend/users/migrations
backend/market/migrations
backend/orders/migrations

# Django specific
staticfiles/
media/
backend/static/
backend/media/


# =========================
# IDE / EDITORS
# =========================
.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace

# =========================
# DOCKER
# =========================
**/.dockerignore
docker-compose.override.yml
*.pid

# =========================
# MISC
# =========================
.DS_Store
Thumbs.db
*.pem
